<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">

        {% block stylesheets %}
        <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        
        </style>
        {% endblock %}

        {% block javascripts %}
        
        {% endblock %}

    </head>
    
    <body>

        <header>
            <div class="nameLogo">
                <div class="myLogo"><img src="{{ asset('assets/images/8.png') }}" class="imageLogo" alt="logo"/></div>
                <div class="myName">Name</div>
            </div>

            <div class="menu">
                <input class="burger" type="checkbox">

                <nav class="headNav">
                    <ul>
                        <div id="navLink">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('profilAuthor') }}">A propos</a></li>
                        <li><a href="{{ path('services') }}">Mes services</a>
                            <ul>
                                <li><a class="adminLink" href="{{ path('qualityPage') }}">Qualité</a></li>
                                <li><a class="adminLink" href="{{ path('home') }}">Sécurité</a></li>
                                <li><a class="adminLink" href="{{ path('home') }}">RSE</a></li>
                                <li><a class="adminLink" href="{{ path('home') }}">Gaspillage</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('actualites') }}">Actualités</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                        <li class="adminAccess">Administration
                            <ul>
                                <li><a class="adminLink" href="{{ path('home') }}">User</a></li>
                                <li><a class="adminLink" href="{{ path('home') }}">Chapitre</a></li>
                                <li><a class="adminLink" href="{{ path('home') }}">Commentaire</a></li>
                                <li><a class="adminLink" href="{{ path('home') }}">Ajouter un chapitre</a></li>
                            </ul>
                        </li>
                    </div>
                    <div id="navBtn">
                            <button type="submit" class="welcome">Bonjour ...</button>
                            <button type="submit" name="inscription" id="inscription_Btn" value="inscription"><a class="inscriptionBtn" href="{{ path('inscription') }}">Inscription</a></button>
                            <button type="submit" id="connexion_Btn" value="connexion"><a class="connexionBtn" href="{{ path('connexion') }}">Connexion</a></button>
                            <button type="submit" name="deconnexion" id="deconnexion_Btn" value="deconnexion"><a class="deconnexionBtn"  href="{{ asset('assets/fontawesome/fas fa-power-off') }}" ><i class="fas fa-power-off"></i></a></button>
                        </div>
                    </ul>
                </nav>
            </div>
        </header>

    <div class="container">
        {% block body %}
        
        {% endblock %}
    </div>

<footer id="footer">
            <div class="footerContainer">
            
                <div class="footerInfo">
                    <div class="footerNav">
                        <nav class="nav">
                            <ul>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Crédits</a></li>
                                <li><a href="#">Mentions légales</a></li>
                                <li><a href="#">Données personnelles</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="logos">Logos linkedin, ... ?</div>
                </div>
                <div class="footerCopy">Copyright © All rights reserved </div>

            </div>
        
        </footer>

    </body>

</html>
